@page
@model PromotorSelection.Pages.Admin.PromotorsModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Lista promotorów";
}

<h1>Lista promotorów</h1>
<p>Ta strona będzie wyświetlać listę promotorów.</p>