@page
@model PromotorSelection.Pages.Admin.ScheduleModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Harmonogram wyborów";
}

<h1>Harmonogram wyborów</h1>
<p>Tu będzie ustawianie dat rozpoczęcia i zakończenia wyborów.</p>