@page
@model PromotorSelection.Pages.Student.GradesModel
@{
    Layout = "_StudentLayout";
    ViewData["Title"] = "Moja średnia";
}

<h1>Moja średnia</h1>
<p>Tu student będzie mógł wpisać lub potwierdzić swoją średnią ocen.</p>
