@page
@model PromotorSelection.Pages.Student.PreferencesModel
@{
    Layout = "_StudentLayout";
    ViewData["Title"] = "Moje wybory";
}

<h1>Moje wybory</h1>
<p>Tu student wybierze trzech promotorów w kolejności priorytetów.</p>