@page
@model PromotorSelection.Pages.Student.TeamModel
@{
    Layout = "_StudentLayout";
    ViewData["Title"] = "Zespół";
}

<h1>Zespół</h1>
<p>Tu student zobaczy swój zespół lub będzie mógł dołączyć do zespołu.</p>