@page
@model PromotorSelection.Pages.Admin.StudentsModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Lista studentów";
}

<h1>Lista studentów</h1>
<p>Ta strona będzie wyświetlać listę studentów.</p>