@page
@model PromotorSelection.Pages.Admin.TeamsModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Zespoły projektowe";
}

<h1>Zespoły projektowe</h1>
<p>Ta strona będzie służyć do zarządzania zespołami.</p>