@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Brak dostępu";
}

<h1>Brak dostępu</h1>
<p>Nie masz uprawnień, aby wyświetlić tę stronę.</p>

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole("Admin"))
    {
        <a asp-area="" asp-page="/Admin/Index">Powrót na stronę główną</a>
    }
    else if (User.IsInRole("Promotor"))
    {
        <a asp-area="" asp-page="/Promotor/Index">Powrót na stronę główną</a>
    }
    else if (User.IsInRole("Student"))
    {
        <a asp-area="" asp-page="/Student/Index">Powrót na stronę główną</a>
    }
}
else
{
    <a asp-area="" asp-page="/Index">Powrót na stronę główną</a>
}

