@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2>Witaj w systemie wyboru promotorów</h2>
    <p>Przejdź do logowania, aby kontynuować.</p>

    <div style="margin-top: 40px;">
        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary" style="margin-right: 10px;">
            Zaloguj się
        </a>
    </div>


</div>
