@page
@model Promotor.IndexModel

<h1>Panel promotora</h1>

<p>Witaj w panelu promotora.</p>

<ul>
    <li><a href="/Promotor/Topics">Moje tematy prac</a></li>
    <li><a href="/Promotor/Assigned">Przypisani studenci</a></li>
</ul>