@page
@model PromotorSelection.Pages.Student.IndexModel
@{
    Layout = "_StudentLayout";
    ViewData["Title"] = "Panel studenta";
}

<h1>Panel studenta</h1>
<p>Witaj w systemie wyboru promotorów.</p>