@page
@model PromotorSelection.Pages.Promotor.AssignedModel
@{
    Layout = "_PromotorLayout";
    ViewData["Title"] = "Przypisani studenci";
}

<h1>Przypisani studenci</h1>
<p>Tu promotor zobaczy listę studentów lub zespołów przypisanych po przydziale.</p>