@page
@model PromotorSelection.Pages.Promotor.TopicsModel
@{
    Layout = "_PromotorLayout";
    ViewData["Title"] = "Moje tematy";
}

<h1>Moje tematy</h1>
<p>Tu promotor będzie mógł dodawać i edytować tematy prac dyplomowych.</p>
